* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root,
input[type="text"],
select,
option,
button {
	font-size: 16px;
	line-height: 1.5;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	color: var(--black);
}

@media (min-width: 768px) {
	:root,
	input[type="text"],
	select,
	option,
	button {
		font-size: 18px;
	}
}

body {
	background-color: var(--greyLightest);
}

code {
	font-family: "Montserrat", source-code-pro, Menlo, Monaco, Consolas,
		"Courier New", monospace;
}

/* Remove some of the button styles from the base */

button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	background-color: none;
	border: none;
	padding: 0.75rem;
	cursor: pointer;
}

input[type="text"],
select {
	width: 100%;
	padding: 0.75rem;
	border-radius: var(--roundedCorners);
	border: var(--borderGreyLight);
}

input[type="text"]:hover,
select:hover {
	background-color: var(--greyLightest);
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--white);
	border: var(--borderGreyLight);
	cursor: pointer;
}

input::-webkit-input-placeholder {
	color: var(--black);
}

input:-ms-input-placeholder {
	color: var(--black);
}

input::-moz-placeholder {
	color: var(--black);
}

input::placeholder {
	color: var(--black);
}
